<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.study.spike.mapper.OrderMapper" >
    <resultMap id="BaseResultMap" type="com.ace.study.spike.DO.OrderDO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="good_id" property="goodId" jdbcType="INTEGER" />
        <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, good_id, order_num, price, create_time, create_by
    </sql>


    <select id="getOrderInfo" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from hk_order_info
        where id = #{id,jdbcType=INTEGER}
    </select>


    <insert id="saveOrder" parameterType="com.ace.study.spike.DO.OrderDO" >
        insert into hk_order_info (id, good_id, order_num, price, create_time, create_by)
        values (NULL , #{goodId,jdbcType=INTEGER}, #{orderNum,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR})
  </insert>





</mapper>